doctype html
html(land="en")
    include ./common/header.pug
    +head("Add School")
    link(rel="stylesheet" href="css/kcards11.css" type="text/css" media="screen" )
    meta(name="robots" content="index, follow" )
    meta(name="revisit-after" content="7 days")
    meta(name="version" content="1.0")
    meta(name="google-site-verification" content="HRSGo4PTnq623i1qQkYcTKIMN8rTWOjUmQ9QbssoX5E")

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
    body
        div.outercontainer
            header.headertop
                div.kclogo
                    img(src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/kc4clogo4HD.png" alt="Kids Cards")     
            div.gapDiv gapDiv   
        
            include ./common/navbar.pug
            +navbar(user)
            section
                article
                    div.mainarea(style="background:none!important;")
                        p.titleLarge(style="text-align:center") Add School
                        form(action="/createSchool", method ="POST")
                            nav.fullWidth.whiteBG
                                
                                div.login_register
                                    div.login
                                        div.searchItem2
                                            div.inputtitle2
                                                p School Name:
                                                input.withBorder(placeholder='Please enter your School Name', required=true, name='school', type='text') 
                                        
                                        div.searchItem2
                                            div.inputtitle2
                                                p Address:
                                                input.withBorder(placeholder="Enter address", required=true , name='address', type='text')
                                        
                                        div.searchItem2
                                            div.inputtitle2
                                                p Post Code:
                                                input.withBorder(placeholder="Enter Post Code", required=true , name='postCode', type='text')
                                        
                                    div
                                        div.login_register
                                            div.register
                                                div.searchItem2
                                                    div.inputtitle2
                                                        p Email:
                                                        input.withBorder(placeholder="Enter email address", required=true , name='email', type='email')

                                                div.searchItem2
                                                    div.inputtitle2
                                                        p Contact Number:
                                                        input.withBorder(placeholder="Enter Number", required=false , name='number', type='text')
                            div(style="text-align:center;margin-top:10px")
                                button.submitto2 Add School            


        include ./common/footer.pug
        +footer()                            
                                        
    

