doctype html
html(land="en")
    include ./common/new/header.pug
    +head("Shop")
    link(href="css/new/basic.css"  rel="stylesheet")
    link(rel="stylesheet" href="css/temp.css")
    link(rel="stylesheet" href="css/new/style.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
    body(style="background-color:white !important;padding-top:3rem")
        script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
        include common/new/horizontalNavbar.pug
        +horizontalNavbar(user)
        section.category-section.spad(style="padding-top:50px")
            .container.spad
                .row
                    .col-xl-12.col-lg-12
                        .card.shadow.mb-4
                            <!-- Card Header - Dropdown -->
                            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                                h6.dashboard-title Orders
                            .card-body
                                .table-responsive
                                    table.table.table-striped.table-hover
                                        thead
                                            tr
                                                th Date
                                                th Package
                                                th Quantity
                                                th (£) Price
                                                th (£) Cost
                                    
                                        tbody
                                            each purchasedBasketItem in purchasedBasketItems
                                                tr
                                                    - var purchaseDttm = purchasedBasketItem.purchaseDttm;
                                                    - var month = purchaseDttm.getMonth() + 1;
                                                    - month = month < 10 ? '0' + month : month;
                                                    - var days = purchaseDttm.getDate();  
                                                    - days = days <10 ? '0' + days : days;   
                                                    - var years = purchaseDttm.getFullYear();
                                                    - var hours = purchaseDttm.getHours();
                                                    - hours = hours < 10 ? '0' + hours : hours;
                                                    - var minutes = purchaseDttm.getMinutes();
                                                    - minutes = minutes < 10 ? '0' + minutes : minutes;
                                                    - purchaseDttm = years + '-' + month + '-' + days + ' ' + hours + ':' + minutes;
                                                    
                    
                                                    td #{purchaseDttm}
                                                    td #{purchasedBasketItem.name}
                                                    td #{purchasedBasketItem.quantity}
                                                    td #{purchasedBasketItem.price}
                                                    td #{(parseFloat(purchasedBasketItem.cost)).toFixed(2)}
                                            if(totalDelivery > 0)
                                                tr
                                                    td
                                                    td Delivery
                                                    td
                                                    td
                                                    td #{totalDelivery} 
                                        tfoot
                                            tr
                                                td
                                                td
                                                td
                                                td (£) Total
                                                td #{totalCost}

    include ./common/new/footer.pug
    +footer()    