doctype html
head
    include ./common/revised/adminHead.pug
    include ./common/revised/adminSideBar.pug
    include ./common/revised/adminTopBar.pug
    include ./common/revised/adminFooter.pug
    include ./common/revised/adminSetting.pug
    include ./common/revised/adminScripts.pug
    <!-- Datatables css -->
    
    +head("Orders To Be Shipped")
    <link href="assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

#preloader
    #status
        .bouncing-loader
            div
            div
            div      
// Begin page
.wrapper

    +sidebar()
    .content-page
        .content
            +topbar()
            .container-fluid
                // start page title
                .row
                    .col-12
                        .page-title-box
                            h4.page-title Orders to Be Shipped
                
                .row
                    .card
                        .card-body

                            .row.mb-2
                                input#numberOfOrders(style="display:none" value=ordersNotShipped.length)
                                table#orderTable.table.table-striped.dt-responsive.nowrap.w-100(style="cursor:pointer")
                                    thead
                                        tr
                                        th # Order Number
                                        th Purchased Dt
                                        th (£) Subtotal 
                                        th (£) Total
                                    tbody
                                        each order, index in ordersNotShipped
                                            
                                            tr(id=index data-id=order.id)
                                                td #{order.orderNumber}
                                                td #{order.purchasedDttm}
                                                td #{parseFloat((order.subTotal)).toFixed(2)}
                                                td #{(order.total)}

        
    +footer()
+setting()

+scripts()
<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="assets/js/vendor/dataTables.bootstrap5.js"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js"></script>
<script src="assets/js/vendor/responsive.bootstrap5.min.js"></script>

<!-- third party js ends -->

<!-- demo app -->
<script src="assets2/js/orderNotShipped.js"></script>
script(src="assets2/js/adminDashboard.js")