doctype html
head
    include common/revised/normalHeader.pug
    include common/revised/navbar.pug
    include common/revised/footer.pug
    +head("Class " + schoolClass.name)
    link(href='assets2/css/style.css' rel='stylesheet')   
    //- link(rel="stylesheet" href="css/pieProgress.css")
    <link href="assets/css/vendor/britecharts.min.css" rel="stylesheet" type="text/css" />

    link#app-style(href='assets/css/app-creative.min.css' rel='stylesheet' type='text/css')
    link(href="assets/css/test.css" rel='stylesheet' type='text/css')
    <link href="assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />


body
    #overlay2(style="z-index:55")
        .progress#progressBar
            .container(style="padding-top:50px")
                h2(style="color:#3688fc") Processing 
                div.progress(style="height:25px")
                    div.progress-bar.progress-bar-striped.progress-bar-animated(id="progress" style="width:0%;height:25px;background-color:#f5ba4b") 0%   
                h6(style="margin-top:5px" id="progressText")
    +navbar()
    section.section.section-full.section-top.bg-light
        // Content
        .container
            .row 
                .col-sm-9 
                    .row
                        .col-sm-12 
                            #schoolDetails.card.shadow.mb-12(style="cursor:pointer" data-schoolNumber=school.schoolNumber)
                                .card-header
                                    .row 
                                        .col-sm-6
                                            h3 Class #{schoolClass.name} 
                                            h5 Code #{schoolClass.classNumber}
                                        .col-sm-6.text-right
                                            if(deadLineDttm != '')
                                                button.btn.btn-outline-primary#createOrderInstructions(data-classId=schoolClass.id)  Generate Order Instructions
                                .card-body(style="text-align:center")
                                    table.table.shadow.mb-12.table-striped.table-sm.dataTable.no-footer( id="classes"  role="grid" aria-describedby="classes_info")
                                        thead(style="text-align:center")
                                            tr(role="row"  class="titleBar")
                                                th(class="sorting_asc smallerTextSize" style="width:33.33%") Name
                                                th(class="sorting_asc smallerTextSize" style="width:33.33%") Age
                                                th(class="sorting_asc smallerTextSize" style="width:33.33%") Code 
                                        input#numberOfKids(style='display:none' value=kids.length)
                                        tbody
                                            each kid, index in kids
                                                tr(style="cursor:pointer" id='kid' + index data-kidNumber=kid.code)
                                                    td(colspan="1" style="text-align:center" ) #{kid.name}
                                                    if(kid.month == 0)
                                                        td(colspan="1" style="text-align:center" ) #{kid.age} 
                                                    else 
                                                        td(colspan="1" style="text-align:center" ) #{kid.age} years #{kid.month}  months
                                                    td(colspan="1" style="text-align:center" ) #{kid.code}
                                                        
                     
                            
                .col-sm-3 
                    .card.shadow.mb-12(style="cursor:pointer")
                        .card-header
                            h6 Order Details
                        .row 
                            div(dir='ltr')
                                .bar-container-horizontal(style='width: 100%;height: 220px;' data-colors='#3688fc,#42d29d,#6c757d,#fa6767,#f9bc0d,#44badc,#e3eaef')

                        .row(style="margin-top:20px")
                            input#totalKids(style="display:none" value=orderDetails.totalKids)
                            input#orderCount(style="display:none" value=orderDetails.orderCount)

                            //- .row
                                .col-sm-12
                                    if(deadlineDetails.deadLineDttm != '')
                                        - if(deadlineDetails.daysLeftSign == 'negative')
                                            h5(style="color:red") #{(deadlineDetails.daysLeft * -1)} Days since purchase deadline passed
                                        - else if( deadlineDetails.daysLeftSign == 'zero')
                                            h5(style="color:red") Purchase deadline is Today 
                                        - else
                                            h5(style="color:red") #{deadlineDetails.daysLeft} Days till purchase deadline  

                            
                    

    +footer()        
    <script src="assets2/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>
                     
    <script src="assets2/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets2/libs/flickity/dist/flickity.pkgd.min.js"></script>

    <script src="assets/js/vendor/d3.min.js"></script>
    <script src="assets/js/vendor/britecharts.min.js"></script>
   
    <script src="assets/js/pages/demo.britechart.js"></script>    
    script(src="javascript/new/organiserClass.js")                     
    script(src="javascript/organiserPieChart.js")
    script(src="assets2/js/theme.min.js")
    script(src="assets2/js/classes.js")
    <script src="assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="assets/js/vendor/dataTables.responsive.min.js"></script>