doctype html
html(land="en")
    include common/new/header.pug
    +head("Sign up Organiser")
    link(href="css/new/basic.css"  rel="stylesheet")
    link(rel="stylesheet" href="css/temp.css")
    link(rel="stylesheet" href="css/new/style.css")
    link(rel="stylesheet" href="css/signup.css")   
    body(style="background-color:white !important;padding-top:3rem")
        include common/new/horizontalNavbar.pug
        +horizontalNavbar(user)
        script(src="https://www.google.com/recaptcha/api.js")
        script(src="javascript/captcha.js")
        section.product-section(style="padding-top:50px;padding-left:10px;padding-right:10px")
            .container.shadow.mb-4(style="padding-top:50px")
                .row
                    .col-sm-12
                        h3(style="text-align:center") Sign up below
                form(id="form" action="/signupOrganiser", method ="POST" style="padding-top:50px")
                    .row
                        .col-sm-6
                            label(for="name") Name
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='name', type='text' value=(formData != undefined) ? formData.name : '')
                        .col-sm-6
                            label(for="name") Telephone Number
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='telephoneNo', type='text' value=(formData != undefined) ? formData.telephoneNo : '')
                            if(errors.telephoneNo)
                                p.small.text-danger(style="text-align:center;margin-left:0;margin-top:0;font-size:8pt") #{errors.telephoneNo}                                                          

                    .row
                        .col-sm-6
                            label(for="name") School/ Nursery Name
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='school', type='text' value=(formData != undefined) ? formData.school : '')
                            if(errors.school)
                                p.small.text-danger(style="text-align:left;margin-left:0;margin-top:0;font-size:8pt") #{errors.school}
                                                    
                        .col-sm-6
                            label(for="address") School/ Nursery Address
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='address', type='text' value=(formData != undefined) ? formData.address : '')
                            if(errors.address)
                                p.small.text-danger(style="text-align:center;margin-left:0;margin-top:0;font-size:8pt") #{errors.address}
                    .row
                        .col-sm-6
                            label(for="postCode") Post Code
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='postCode', type='text' value=(formData != undefined) ? formData.postCode : '')
                            if(errors.postCode)
                                p.small.text-danger(style="text-align:center;margin-left:0;margin-top:0;font-size:8pt") #{errors.postCode} 

                    .row
                        .col-sm-6
                            label(for="pupilsPerClass") Average No. of Pupils per class
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='pupilsPerClass', type='number' min="0" value=(formData != undefined) ? formData.pupilsPerClass : '')
                        .col-sm-6
                            label(for="numberOfClasses") Number of classes
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='numberOfClasses', type='number' min="0" value=(formData != undefined) ? formData.numberOfClasses : '')           
                    .row
                        .col-sm-12
                            label(for="name") Additional Information
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=false, name='additionalInfo', maxlength=200 type='text' value=(formData != undefined) ? formData.additionalInfo : '' )                 
                       
                    .row
                        .col-sm-6
                            label(for="name") Email
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='email', type='email' value=(formData != undefined) ? formData.email : '')
                            if(errors.email)
                                p.small.text-danger(style="text-align:center;margin-left:0;margin-top:0;font-size:8pt") #{errors.email}

                        .col-sm-6
                            label(for="reEmail") Re-enter Email
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" required=true, name='reEmail', type='email' value=(formData != undefined) ? formData.reEmail : '')               

                                    //- div.searchItem2
                                        div.inputtitle2
                                            input(style="width:100% !important;text-align:left;" required=true, name='reEmail', type='email' value=(formData != undefined) ? formData.reEmail : '')
                    
                    .row
                        .col-sm-6
                            label(for="password") Password
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" placeholder="Please enter Password", required=true , name='password', type='password' value=(formData != undefined) ? formData.password : '')
                            if( errors && errors.password)
                                p(id="error").small.text-danger #{errors.password}
                        .col-sm-6
                            label(for="password") Re-enter Password
                            .quantity(style="margin-bottom:15px;")
                                .pro-qty(style="width:100% !important")
                                    input(style="width:100% !important;text-align:left;" placeholder="Please re-enter Password", value=(formData != undefined) ? formData.rePassword : '' required=true , name='rePassword', type='password' )
                                            
                    .row
                        .col-sm-12(style="text-align:center;margin-top:20px")
                            .g-recaptcha(data-sitekey="6LdzUtsZAAAAAEf-uA4T9AvVJUfytjMSHcPHRvbw")
                            p.small.text-danger(id="captchaError" style="text-align:left;margin-top:5px")
                            br
                            input.site-btn(type="submit" value="Sign Up")
                    .row
                        .col-sm-12(style="text-align:center;margin-top:20px")
                            h8.mt-3.mb-0
                                | Want to sign up as a parent? #[a(href="/signup") Register as Parent here].
                            br
                            h8.mt-3.mb-0
                                | Already have an account? #[a(href="/") Login in here].
           
    include common/new/footer.pug
    +footer()