	
<style type="text/css">

@import url("../Santa_Sleigh_Bold/stylesheet.css");
@import url("../webfonts/SantasSleighFull_Bold/stylesheet.css");


	
	
	
	body{margin:0px!important; padding:0px!important;}
	
	h1{font-size:28px;}	
	h2{font-size:24px;}
	h3{font-size:20px;}	
	h4{font-size:18px;}	
	li{font-size:19px;}	
	
	h1, h2, h3, h4, h4, h5, h6{color:#000; text-align: center;font-family:happy-monkey; margin:10px 0}
	.boxDetails p{text-align:center; font-size:20px!important;font-family:happy-monkey; margin:10px 0}
	.boxDetails p,.boxDetails h1,.boxDetails h2,.boxDetails h3,.boxDetails h4{color:#000!important;}
	.boxDetails{border:2px solid #000; padding:0px;max-width:1000px;margin:auto; box-sizing: border-box;}
	
	.textinfo{max-width:1200px!important; margin:auto}
	
	
		table{text-align: center; font-family:sans-serif; border:1px solid #000;}
	/*.mainB{background: url("images/ref2.png"); object-fit: contain; background-repeat:no-repeat;}*/
		/*td{border:1px solid #000!important;}*/
		.tn_image,.tn-image img{max-width:172px!important; max-height:172px!important; }
		.tn_image {margin:auto;display: flex; align-content: center; justify-content: center;}
		.kcLabel,.kcLabel img{width:100%;max-width:186px!important; max-height:43px!important; background-color:#17aab7; background-image: url("https://kidscards4christmas.s3.eu-west-2.amazonaws.com/icons/kc4clogo_small2.png"); object-fit: contain; background-repeat:no-repeat; }
		.kcCredits{font-size:11px; line-height: 1.2em;}
		.mainPic img{width:460px!important; height:460px !important;}
		.mainPic{border:20px solid #fff!important; box-sizing: border-box;}
		
		.size1,.size2{font-size:14px; line-height:1em;}
	
	.headertop{width:100%; height:60px; background:#17aab7!important;display:flex;align-content: center; align-items: center;}
.kclogo img{max-width:400px;}
	
	.kclogo {margin:auto;}

	.explain{font-family: happy-monkey; font-size:20px; text-align: center; color:#000; padding:0 10px; margin:10px;}

	#footerInfo{position: relative; padding-top:30px;width:100%; bottom:0px!important;}



#footerInfo{margin-top:40px;font-family: happy-monkey; content:""; display:block; width:100%; background: #17aab7; min-height:0px; padding:10px; color:#fff; box-sizing:border-box; font-size:14px; text-align:center;}
	
	.container{width:1100px; height:1554px; border:0px solid #000;margin:auto;box-sizing:border-box;}
	</style>
<html land="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Administrator - Add Class</title>


<link rel="stylesheet" href="css/organiser2.css">
<link rel="stylesheet" href="css/school.css">
<link rel="stylesheet" href="css/font-awesome.css">

<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">
<meta name="version" content="1.0">
<meta name="google-site-verification" content="HRSGo4PTnq623i1qQkYcTKIMN8rTWOjUmQ9QbssoX5E">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script src="http://use.edgefonts.net/happy-monkey:n4:default;merienda-one:n4:default;sofia:n4:default.js" type="text/javascript"></script>

</head>
<body>

<div class="container">
  <header class="headertop">
	  <div class="kclogo"><img src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/findus_logoHD.png" alt="Kids Cards"></div>
</header><!--headertop-->
		
	
	
	<div style="margin-top:20px;"><!--CARD IS HTML-->
		<h1 style="font-size:28px;">Order Instructions</h1>
		
		
	</div>
	<div style="max-width:1200px; margin:auto;">
		<p class="explain">School: <strong>{{school}}</strong></p>
		<p class="explain">School Code: <strong>{{schoolNumber}}</strong></p>
		<p class="explain">Class: <strong>{{class}}</strong></p>
		<p class="explain">Class Code: <strong>{{classNumber}}</strong></p>
		<p class="explain">Closing Date for Orders: <strong>{{deadline}}</strong></p>


<table class="mainB" cellpadding="0" cellspacing="0" border="0" style="max-width:1000px; margin:auto;max-height:500px; margin-bottom:30px">
		
		<tr>

			<td colspan="3" style="max-width:500px;height:46px"></td>
			
			<td class="mainPic" rowspan="6" style="width:460px !important;height:460px !important"><img src="https://kidscards4christmas.com/img/insert.webp"></td>
			</tr>
			<tr>
				<td style="max-width:172px;max-height:156px"></td>
				<td style="max-width:156px;max-height:156px"><div class="tn_image"><img style="height:172px" src="https://kidscards4christmas.com/img/insert.webp"></div></td>
				<td style="max-width:172px;max-height:156px"></td>
			
			</tr>
			<tr>
				<td colspan="3" style="max-width:500px;max-height:214px">
				<p class="size1">Design by:</p>
<p class="size2"><strong>"Child Name"</strong></p>

<p class="size2"><strong>Age "Child Age" years</strong></p>
	

<input style="display:none" value="Unique Code" id="code">


<p class="size2"><strong>{{school}}</strong></p>
<p class="size2"><strong>{{class}}</strong></p>
<p class="size1">"Unique Code"</p>
				</td>
			
			</tr>
			<tr>
				
				<td style="width:155px;height:36px"></td>
				<td class="kcLabel" style="width:186px;height:36px"></td>
				<td style="width:155px;height:36px"></td>
			
			</tr>
			<tr>
				<td class="kcCredits" colspan="3" style="width:500px;height:48px;">
				<span style="color:#17aab7">Printed by Bluwave Ltd</span>&nbsp;<span style="#075F5E;">tel: 020 7277 7663</span><br>
				<span style="color:#17aab7">info@kidscards4christmas.com </span> &nbsp; <span style="#075F5E;">www.kidscards4christmas.com</span>
				
				</td>
			
			
			</tr>
		

	</table>

		<div class="boxDetails" style="margin-bottom:30px">
			<h2>All packs come with 9 large cards and envelopes.</h2>
			<p>Standard packs <strong>£6.99</strong><br>
			(Each pack ordered will raise <strong>70p</strong> for your organisation)</p>
			<p>Photo Packs <strong>£7.99</strong> (Your childs photo on reverse of card)<br>
			(Each pack ordered will raise <strong>80p</strong> for your organisation)
			<p>Calendars <strong>£3.99</strong><br>
			(Each standard calendar ordered will raise <strong>40p</strong> for your organisation)</p>
			<p>All order placed before the given deadline will be delivered to your organisation. Any orders placed after this deadline can be delivered to an address of choice and will be subject to a delivery charge <strong>£4.00</strong>.</p>
			
	</div>
		
		<div class="boxDetails">
		<p class="explain" style="text-align:left!important; margin-bottom:0px"><strong>Follow These Easy Steps To Take Part:</strong></p>
		<ul class="explain" style="text-align:left!important;margin:15px">
<li>Create an account at <a href="https://www.kidscards4christmas.com">https://www.kidscards4christmas.com</a>, using 'Parent Sign Up'.</li>
<li>If you are the organiser and have registered already, you can use your original login details to create a card for your own child</li>
<li>Select 'Link My Child'. </li>
<li>Next enter the school code and class code found at the top of this form, followed by your child’s name and age as you wish it to appear on the back of the card</li>
<li>Photograph or scan (300dpi) your child’s artwork and upload it to their page.</li>
<li>At this stage, you can choose to edit the image ( size and contrast )</li>
<li>Place your order online.... Don't forget to upload your childs photo if you have selected the Photo Pack</li>
		</ul>
	
</div>

		
		</div>
	

		
	 
		
  
<div id="footerInfo">
	<strong>2022 Kidscards4Christmas. <br></strong>
	Bluwave Ltd, Unit 1b, 1a Philip Walk, London SE15 3NH | Tel: 020 7277 7663 | <a href="mailto:info@kidscards4christmas.com">info@kidscards4christmas.com</a> | Mon - Fri: 9am - 6pm;
	
	</div>
	 </div><!--outercontainer-->
</body>
</html>