<style >


	@import url("../Santa_Sleigh_Bold/stylesheet.css");
@import url("../webfonts/SantasSleighFull_Bold/stylesheet.css");


	
	
	
	body{margin:0px!important; padding:0px!important;}
	
	h1{font-size:28px;}	
	h2{font-size:12pt;}
	h3{font-size:12pt;}	
	h4{font-size:18px;}	
	li{font-size:19px;}	
	
	h1, h2, h3, h4, h4, h5, h6{color:#000; text-align: center;font-family:happy-monkey; margin:10px 0}
	.boxDetails p{text-align:center; font-size:9pt!important;font-family:happy-monkey; margin:10px 0}
	.boxDetails p,.boxDetails h1,.boxDetails h2,.boxDetails h3,.boxDetails h4{color:#000!important;}
	.boxDetails{border:2px solid #000; padding:0px;max-width:1000px;margin:auto; box-sizing: border-box;}
	p {
		font-size:9pt
	}
	li {
		font-size:9pt
	}
	.textinfo{max-width:1200px!important; margin:auto}
	
	
		table{text-align: center; font-family:sans-serif; border:1px solid #000;}
	/*.mainB{background: url("images/ref2.png"); object-fit: contain; background-repeat:no-repeat;}*/
		/*td{border:1px solid #000!important;}*/
		.tn_image,.tn-image img{max-width:172px!important; max-height:172px!important; }
		.tn_image {margin:auto;display: flex; align-content: center; justify-content: center;}
		.kcLabel,.kcLabel img{width:100%;max-width:186px!important; max-height:43px!important; background-color:#17aab7; background-image: url("https://kidscards4christmas.s3.eu-west-2.amazonaws.com/icons/kc4clogo_small2.png"); object-fit: contain; background-repeat:no-repeat; }
		.kcCredits{font-size:11px; line-height: 1.2em;}
		.mainPic img{width:460px!important; height:460px !important;}
		.mainPic{border:20px solid #fff!important; box-sizing: border-box;}
		
		.size1,.size2{font-size:14px; line-height:1em;}
	
	.headertop{width:100%; height:60px; background:#17aab7!important;display:flex;align-content: center; align-items: center;}
.kclogo img{max-width:400px;}
	
	.kclogo {margin:auto;}

	.explain{font-family: happy-monkey; font-size:20px; text-align: center; color:#000; padding:0 10px; margin:10px;}

	#footerInfo{position: relative; padding-top:30px;width:100%; bottom:0px!important;}



#footerInfo{margin-top:40px;font-family: happy-monkey; content:""; display:block; width:100%; background: #17aab7; min-height:0px; padding:10px; color:#fff; box-sizing:border-box; font-size:7pt; text-align:center;}
	
    .heightTop{padding-top:40px;}

.kcimage img{width:200px;}
#last{vertical-align:bottom;background:purple;}

#leftSideCard{width:40%;float: left;}
#rightSideCard{width:60%; float: right;background:#fff;}
#leftleft{width:100%;}

td{text-align: center;}


/*#leftSideCard,#rightSideCard{background:#fff;}*/

#maintext,#mainBackImage,.credFooter{background:#fff; text-align:center;}

/*.credFooter{position: relative; bottom:0px;background:orange}*/
#maintext{display: flex; flex-direction: column; position: relative; bottom:0px!important;}

body{font-family:Helvetica, Arial, sans-serif;}

#outercardContainer{width:100%;display: flex}
#cardContainer{margin:auto!important; background:#fff!important;width:100%!important}

#KCcredit{margin:auto; max-width:200px; background:#17aab7; overflow: hidden;}
#KCcredit img{width:90%; margin:auto!important;padding:0 2%;}

#footerKC{padding:20px 10px 10px 10px;width:100%;margin-bottom: 0px; min-height:0px;margin:auto; text-align:center; }


#cardDetails{padding-top:40px;}



#footerInfo{margin-top:20px;font-family: happy-monkey; content:""; display:block; width:100%; background: #17aab7; min-height:0px; padding:10px; color:#fff; box-sizing:border-box; font-size:8pt; text-align:center;}
	

.size1{font-size:.8em;}
.size2{font-size:.8em; font-weight:bold;}
.size3{font-size:.6em;}

.size1,.size2{margin:2%;}


#backImage{width:180px; height:180px; margin:auto; position: relative;}

#backImage img{width:100%!important;}


.kcimage{    padding-top: 0;
    width: 200px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 10px; width:200px; background:#17aab7;}


#rightSideCard,#backImage{overflow:hidden; box-sizing:border-box;}

#rightSideCard img{width:100%; border-left: dashed}

#rightSideCard {border:10px solid #fff;}

.kclogoCont{width:200px; height:auto;}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    /*margin-left: -1.5rem;*/
}

.col-sm-4 {
	width: 33.33%;
}

@media screen and (min-width:998px)and (max-width:1075px){
	#cardDetails{padding-top:20px;}
}

@media screen and (min-width:880px)and (max-width:997px){
	#cardDetails{padding-top:0px;}
	
	
}

@media screen and (min-width:738px) and (max-width:879px){
#cardDetails{padding-top:0px;font-size:0.9em;}
	.size3{font-size:0.7em;}
	.size1, .size2{margin:1%;}
	.heightTop{padding-top:30px;}
	
}


@media screen and (max-width:737px){
#cardDetails{padding-top:0px;font-size:0.7em;}
		.size3{font-size:0.5em;}
	.size1, .size2{margin:1%;}
	.heightTop{padding-top:20px;}
	.kcimage{padding:0 10px; width:70px; background:#17aab7;}
	.kcimage img{width:70px;}
	.size1, .size2,.size3{margin:.5%;}
	.size3{line-height:.7em;}
	.kclogoCont{margin-top:10px;}
	#maintext{padding-bottom:5px;}
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<html>
<head></head>


<body>
	
	<div id="outercardContainer" style="width: 29.7cm;height: 21cm;">
		<div id="cardContainer">
	
			<div class="row2">
  				<div style="width:40%; float:left">
  					<div style="width:100%;background: #17aab7;text-align: center;">
  						<img src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/kc4clogo4HD.png" style="width:50%;">
  					</div>
  					
  					<h2 >Order Instructions</h2>
  					<div class="boxDetails" style="width:95%;border:unset">
  						<div class="row">
  							<div style="width:33.33%">
  								<p class="explain">School: <strong>{{school}}</strong></p>
  							</div>
  							<div style="width:33.33%">
  								<p class="explain">School Code: <strong>{{schoolNumber}}</strong></p>
  							</div>
  							<div style="width:33.33%">
  								<p class="explain">Class: <strong>{{class}}</strong></p>
  							</div>
  						</div>
  						<div class="row">
  							<div style="width:33.33%">
  								<p class="explain">Class Code: <strong>{{classNumber}}</strong></p>
  							</div>
  							<div style="width:66.66%">
  								<p class="explain">Closing Date for Orders: <strong>{{deadline}}</strong></p>
  							</div>
  							
  						</div>

  						<div class="boxDetails" style="margin-bottom:15px;margin-top:15px">
							<h3>All packs come with 9 large cards and envelopes.</h3>
							<p>Standard packs <strong>£6.99</strong><br>
							(Each pack ordered will raise <strong>70p</strong> for your organisation)</p>
							<p>Photo Packs <strong>£7.99</strong> (Your childs photo on reverse of card)<br>
							(Each pack ordered will raise <strong>80p</strong> for your organisation)
							<p>Calendars <strong>£3.99</strong><br>
							(Each standard calendar ordered will raise <strong>40p</strong> for your organisation)</p>
							<p>All order placed before the given deadline will be delivered to your organisation. Any orders placed after this deadline can be delivered to an address of choice and will be subject to a delivery charge <strong>£4.00</strong>.</p>
			
						</div>

						<div class="boxDetails">
							<p class="explain" style="text-align:left!important; margin-bottom:0px"><strong>Follow These Easy Steps To Take Part:</strong></p>
							<ul class="explain" style="text-align:left!important;margin:15px">
								<li>Create an account at <a href="https://www.kidscards4christmas.com">https://www.kidscards4christmas.com</a>, using 'Parent Sign Up'.</li>
								<li>If you are the organiser and have registered already, you can use your original login details to create a card for your own child</li>
								<li>You <b>must</b> Select <b>Link My Child</b> </li>
								<li>Next enter the school code and class code found at the top of this form, followed by your child’s name and age as you wish it to appear on the back of the card</li>
								<li>Photograph or scan (300dpi) your child’s artwork and upload it to their page.</li>
								<li>At this stage, you can choose to edit the image ( size and contrast )</li>
								<li>Place your order online.... Don't forget to upload your childs photo if you have selected the Photo Pack</li>
							</ul>
								
						</div>
						
  					</div>
  					<div id="footerInfo">
							Bluwave Ltd, Unit 1b, 1a Philip Walk, London SE15 3NH | Tel: 020 7277 7663 | <a href="mailto:info@kidscards4christmas.com">info@kidscards4christmas.com</a> | Mon - Fri: 9am - 6pm;
	
						</div>
  				</div>
  				<div style="width:60%; float:right">
  					<img src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/Template/ImageTemplateLeftSide.jpg" style="width:100%; height:21cm; border-left:dashed" alt="Main image">

  				</div>
			</div>

		
	



	</div><!--cardContainer-->
			</div><!--outercardContainer-->
</body>
</html>
