<style>
    p {
        font-size:9pt;
		padding:0;
		margin:0
    }
</style>
<html>
<head>
<style>


</style>   
</head>
<body>
   
<div style="padding:15px; border-bottom-width:2px;width:100hw;height:93vh">
  <div style="width:100%;height:7%;text-align:center">	
		<h1>Calendars Form</h1>
	</div>
	<div style="width:100%;height:5%;padding:0">
		<div style="float:left;width:50%;">
			<h1 style="margin-bottom:0;margin-top:0;margin-top:0">{{className}}</h1>
		</div>
        <div style="float:left;width:50%;">
			<h1 style="margin-bottom:0;margin-top:0;text-align:right;margin-top:0">{{schoolName}}</h1>
		</div>
	</div>
    <h5>Page {{pageNumber}} of {{numberOfPages}}</h5>
	<div style="width:100%;height:80%;padding:0">
		<div style="height:5%">
			<h3>Basket Items</h3>
		</div>
		<div style="width:100%;height:95%;">
			<table style="width:100%;height:300px;padding:10px;">
				
					<tr style="height:5%">
						<td>Picture</td>
						<td>Parent Name</td>
                        <td>Order Number</td>
						<td>Package</td>
						<td>Quantity</td>
						<td>£ Cost</td>
						</tr>	

				{{#each basketItems}}
						<tr style="height:55px">
						{{!-- <td style="width:15%" >
							<div style="width:95px;height:65px;">
									<img src={{picture}} style="width:100%;height:100%;">
								</div>
							</td> --}}
						<td style="width:20%">
							{{!-- <img src={{picture}} width="50px" height="50px"></img> --}}
						</td>
						<td style="width:15%">
							<p>{{parentName}}</p>
						</td>
                            <td style="width:15%" >
                                <p>{{orderNumber}}</p>
                            </td>
							<td style="width:20%">
								<p>{{productVariant}} - {{product}}</p>
							</td>
							<td style="width:15%">
								<p>{{quantity}}</p>
							</td>
							<td style="width:15%">
								<p>{{cost}}</p>
							</td>	
						</tr>
                      {{/each}}  
                        
                        
				  
			</table> 
			</div>
	</div>
	
</div>

</body>
</html>