
<html>
<head>


<body style="padding:0;margin:0">
    <div  style="height:14.5cm;width:14.5cm;display: inline-block;background-image:url(http://localhost:4000/template.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;">
    {{!-- <img src="http://localhost:4000/template.jpg" style="height:14.5cm;width:14.5cm"> --}}
    <img style="position:absolute;left:{{x}}px;top:{{y}}px;width:{{width}}px;height:{{height}}px;border-radius:50%" src="http://localhost:4000/jhene.jpg">
    <input style="position:absolute;text-align:center;background-color:transparent;font-size:20px;border:none;left:{{nameX}}px;top:{{nameY}}px;width:{{nameWidth}}px;height:{{nameHeight}}px;" value="{{name}}">
    </div>
</body>
</html>
